name: CI

permissions: read-all

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  tests-with-coverage:
    strategy:
      matrix:
        os: ["windows-2022", "ubuntu-22.04"]
    name: Tests (${{ matrix.os }}) with coverage
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build
        run: mvn -Pjacoco clean verify --batch-mode --show-version
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574 # v5.4.0
        with:
          file: ./target/site/jacoco/jacoco.xml
