name: CI

permissions: read-all

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  tests-with-coverage:
    strategy:
      matrix:
        os: ["windows-2019", "ubuntu-20.04"]
    name: Tests (${{ matrix.os }}) with coverage
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-java@v3.5.0
        with:
          distribution: 'temurin'
          java-version: '8'
      - name: Build
        run: mvn -Pjacoco clean verify --batch-mode --show-version
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./target/site/jacoco/jacoco.xml
